[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/NvChad"]
	path = vim/NvChad
	url = https://github.com/NvChad/NvChad
[submodule "tmux/tpm"]
	path = tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/zinit/zinit.git"]
  path = zsh/zinit/zinit.git
  url = https://github.com/zdharma-continuum/zinit
  ignore = dirty
[submodule "zsh/zinit/plugins/zdharma-continuum---fast-syntax-highlighting"]
  path = zsh/zinit/plugins/zdharma-continuum---fast-syntax-highlighting
  url = https://github.com/zdharma-continuum/fast-syntax-highlighting
  ignore = dirty
[submodule "zsh/zinit/plugins/zdharma-continuum---zinit-annex-as-monitor"]
  path = zsh/zinit/plugins/zdharma-continuum---zinit-annex-as-monitor
  url = https://github.com/zdharma-continuum/zinit-annex-as-monitor
  ignore = dirty
[submodule "zsh/zinit/plugins/zdharma-continuum---zinit-annex-bin-gem-node"]
  path = zsh/zinit/plugins/zdharma-continuum---zinit-annex-bin-gem-node
  url = https://github.com/zdharma-continuum/zinit-annex-bin-gem-node
  ignore = dirty
[submodule "zsh/zinit/plugins/zdharma-continuum---zinit-annex-patch-dl"]
  path = zsh/zinit/plugins/zdharma-continuum---zinit-annex-patch-dl
  url = https://github.com/zdharma-continuum/zinit-annex-patch-dl
  ignore = dirty
[submodule "zsh/zinit/plugins/zdharma-continuum---zinit-annex-rust"]
  path = zsh/zinit/plugins/zdharma-continuum---zinit-annex-rust
  url = https://github.com/zdharma-continuum/zinit-annex-rust
  ignore = dirty
[submodule "zsh/zinit/plugins/zsh-users---zsh-autosuggestions"]
  path = zsh/zinit/plugins/zsh-users---zsh-autosuggestions
  url = https://github.com/zsh-users/zsh-autosuggestions
  ignore = dirty
[submodule "zsh/zinit/plugins/zsh-users---zsh-completions"]
  path = zsh/zinit/plugins/zsh-users---zsh-completions
  url = https://github.com/zsh-users/zsh-completions
  ignore = dirty
